<html>
<mat-toolbar>
  <span>Calibracion Bosch CRI CRI1 CRI2.0 CRI2.1 CRI2.5</span>
</mat-toolbar>
<div>
  <mat-tab-group>
    <mat-tab label="Paso 1">
      <mat-card>
        <img src="assets/paso7.png" >
      </mat-card>
    </mat-tab>
    <mat-tab label="Paso 2">
      <mat-card>
        <img src="assets/paso8.png" >
      </mat-card>
    </mat-tab>
    <mat-tab label="Paso 3">
      <mat-card>
        <img src="assets/paso9.png" >
      </mat-card>
    </mat-tab>
    <mat-tab label="Paso 4">
      <mat-card>
        <img src="assets/paso10.png" >
      </mat-card>
    </mat-tab>
    <mat-tab label="Paso 5">
      <mat-card>
        <img src="assets/paso11.png" >
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
</html>

